@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;1,700&family=Kanit:ital,wght@0,400;1,800&display=swap");

$body-font: "Chakra Petch", sans-serif;
$headers-font: "Chakra Petch", sans-serif;

// Override Bootstrap's default variables
$font-family-base: $body-font;
$headings-font-family: $headers-font;
