.banner {
  background-color: $light-gray;
  padding: 150px 0;
  text-align: center;
}
.banner h1 {
  margin: 0;
  color: #333;
  font-family: $headers-font;
  font-weight: bold;
}
.banner p {
  color: #666;
  font-family: $body-font;
  opacity: .7;
}
