<div class="banner">
    <div class="container">
    <h1>Sports Management</h1>
    <div class="container">
      <p>Is a web application for managing sports teams, players, matches, and fantasy sports operations. Built with modern Ruby on Rails and optimized for performance and user experience.</p>
      <%= link_to "log in", user_session_path, class: "btn btn-primary fa-beat-fade" %>
    </div>
</div>
