<div class="banner bg-success">
  <div class="container bg-success">
    <h1 class="fa-beat-fade text-white">Sports Management</h1>
    <div class="container bg-success">
      <p class="text-white">It's a web application for managing soccer teams, players, playing friendly matches and exclusive championships.</p>
      <%= link_to "log in", user_session_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</div>
