<div class="banner">
    <div class="container">
      <h1><i class="fa-solid fa-rocket"></i> Template Felippe</h1>
      <p>app/views/pages/home.html.erb</p>
      <%= link_to "Documentação", "https://gist.github.com/FelippeMenezes/21984aa56f621ba934626ebd788fb647", class: "btn btn-primary fa-beat-fade" %>
    </div>
</div>
