<div class="banner bg-success">
  <div class="container bg-success">
    <h1 class="fa-beat-fade text-white">Sports Management</h1>
    <div class="container bg-success">
      <p class="text-white" data-controller="typed-js"></p>
      <p class="text-white typing-effect">Is a web application for managing sports teams, players, matches, and fantasy sports operations.</p>
      <%= link_to "log in", user_session_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</div>
