.navbar-felippe {
  justify-content: space-between;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
}
.navbar-felippe .navbar-collapse {
  flex-grow: 0;
}
.navbar-felippe .navbar-brand {
  color: #333;
  font-weight: bold;
  font-family: $headers-font;
}
